* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('image/sunny.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: sans-serif;

}




.section {border-radius: 15px;
 


    .weather {
        position: fixed;
        left: -25rem;
        width: 25rem;
        height: 96%;
        transition: 0.3s ease;
        background-color: rgba(0, 0, 0, 0.647);
        box-shadow: rgb(19, 19, 19) 0px 50px 100px -10px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(234, 231, 194, 0.35) 0px -2px 6px 0px inset;
        border-radius: 15px;
        margin: 1rem 0;        

        &_container {

            &_input {border-radius: 15px;
                display: flex;
                background-color: rgba(5, 245, 153, 0.276);
                padding: 1rem;
                gap: 1rem;
                justify-content: space-between;



                &_heading {

                    font-size: 2rem;
                    color: rgb(249, 246, 246);

                }


                &_text {
                    width: 100%;
                    border: none;
                    border-radius: 15px;
                    outline-color: rgba(15, 120, 3, 0.523);
                    font-size: 1.5rem;
                    padding: 0 0.5rem;
                    color: rgb(253, 253, 253);
                    font-weight: bolder;
                    background-color: rgba(244, 244, 244, 0.493);


                }
            }

            &_output {
                display: grid;
                justify-content: center;

                justify-items: center;
                align-items: center;
                height: 20rem;

                &_city {
                    text-align: center;




                }

                &_degree {
                    text-align: center;


                }

                &_info {
                    text-align: center;
                }

                &_icon {

                    text-align: center;

                    width: 5rem;

                }



            }


        }

    }

    .active {
        position: absolute;
        left: 1rem;

    }


}