.container {

    display: grid;
    gap: 3rem;
    padding: 3rem;
    background-image: url('src/assets/images/nathan-dumlao-J2gEgTPM_OA-unsplash.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 

    &_title-box {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;

    }
}